@import '../static/cgi.css';
@import '../static/fonts.css';
@import '../static/icon.css';
@import "svelte-ripple-action/ripple.css";

@use "@material/drawer";
@use "@material/list";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;


body {
	margin: 0px;
	color: rgb(51, 51, 51);
	font-family: "Source Sans Pro", -apple-system, sans-serif, Arial;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	background-color: rgb(255, 255, 255);
}

strong,
input,
h1,
h2,
h3,
h4,
label,
button {
	font-family: Source Sans Pro, sans-serif;
}

.MuiCollapse-root::after {
	transition: all .35s;
}